<ion-header>
  <ion-navbar>
    <ion-title>{{placeName}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-slides class="sticky" loop="true" *ngIf="images.length != 0">
    <ion-slide *ngFor="let image of images">
      <ion-item id="place" [style.backgroundImage]="'url(' + image + ')'">
      </ion-item>
    </ion-slide>
  </ion-slides>
  <ion-item-divider color="light">Place Details</ion-item-divider>
  <ion-item>
    <ion-label>Visited</ion-label>
    <ion-toggle [(ngModel)]="visited"></ion-toggle>
  </ion-item>

</ion-content>

<ion-footer text-center>
  <ion-toolbar>
    <button color="danger" ion-button text-center style="width:49%" (click)="cancelPlace()">
      Cancel
    </button>
    <button color="secondary" ion-button text-center style="width:49%" (click)="addPlace()">
      Add
    </button>
  </ion-toolbar>
</ion-footer>
