<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <!-- <ion-list>
    <ion-item *ngFor="let item of countries">
      {{ item.name }}
    </ion-item>
  </ion-list> -->

  <ion-item-divider>cities</ion-item-divider>

  <ion-list *ngIf="items3.length > 0">
    <ion-item *ngFor="let city of items3[0].predictions">
      {{ city.description }} +
      {{ city.structured_formatting.main_text }}
    </ion-item>
  </ion-list> 

  <!-- <ion-list>
    <button ion-item *ngFor="let weather of (weathers | async)?.weather" (click)="openDetails(weather)">
      {{ weather.description }}
    </button>

    <ion-item *ngIf="values.length > 0">
      Weather: {{ (weathers | async)?.weather[0].main }}
    </ion-item>
    <ion-item *ngIf="values.length > 0">
      Description: {{ (weathers | async)?.weather[0].description }}
    </ion-item>
    <ion-item *ngIf="values.length > 0">
      Temperature: {{ (weathers | async)?.main.temp }}
    </ion-item>
  </ion-list> -->
</ion-content>
