<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-auto-complete [dataProvider]="apiProvider"></ion-auto-complete>

  <ion-list>
    <button ion-item *ngFor="let weather of (weathers | async)?.weather" (click)="openDetails(weather)">
      {{ weather.description }}
    </button>

    <ion-item *ngIf="values.length > 0">
      Weather: {{ (weathers | async)?.weather[0].main }}
    </ion-item>
    <ion-item *ngIf="values.length > 0">
      Description: {{ (weathers | async)?.weather[0].description }}
    </ion-item>
    <ion-item *ngIf="values.length > 0">
      Temperature: {{ (weathers | async)?.main.temp }}
    </ion-item>
  </ion-list>
</ion-content>
