<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-item *ngIf="value != null">
    Value : {{value}}
  </ion-item>

  <ion-item>
    Name : {{name}}
  </ion-item>

  <button ion-item (click)="plusOne()">+1</button >

  <ion-list *ngIf="items3.length > 0">
    <button ion-item *ngFor="let city of items3[0].predictions" (click)="getWeather(city.place_id, city.structured_formatting.main_text)">
      {{ city.description }},
      {{ city.structured_formatting.main_text }}
    </button >
  </ion-list> 

  <div id="main">
    <div id="cloud">
      <div id="five"></div>
      <div id="six"></div>
      <div id="seven"></div>
      <div id="rain">
        <ul>
          <li id="one">.</li>
          <li id="two">.</li>
          <li id="three">.</li>
          <li id="four">.</li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>
