page-list {
  .item-md {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .searchbar-md .searchbar-input {
    background-color: rgba(0, 0, 0, 0);
  }
  #top {
    width: 100px;
    animation-name: top;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  #main {
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    height: 220px;
  }
  #rain {
    z-index: 1;
    position: relative;
    bottom: 80px;
  }
  ul {
    margin: 0 auto;
    width: 200px;
  }
  #rain li {
    margin: 0 auto;
    font-size: 100px;
    display: inline-block;
    color: rgba(51, 204, 255, 0);
    ;
    position: relative;
  }
  #one,
  #two,
  #three,
  #four {
    left: 0;
    bottom: 0;
  }
  #one {
    animation-name: one;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  #two {
    animation-name: one;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  #three {
    animation-name: one;
    animation-duration: .5s;
    animation-iteration-count: infinite;
  }
  #four {
    animation-name: one;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    position: relative;
  }
  #cloud {
    position: relative;
    z-index: 10;
    margin: 20px auto;
    width: 200px;
  }
  #five {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #d9d9d9;
    position: relative;
    left: 70px;
  }
  #six {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #d9d9d9;
    position: relative;
    bottom: 60px;
    left: 30px;
    /*   z-index: 1; */
  }
  #seven {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: #d9d9d9;
    position: relative;
    bottom: 80px;
  }
  #bottom {
    width: 400px;
    animation-name: bottom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @media only screen and (max-width: 600px) {
    @keyframes top-small {
      from {
        width: 200px;
      }
      ;
      to {
        width: 50px;
      }
      ;
    }
    @keyframes bottom-small {
      from {
        width: 50px;
      }
      ;
      to {
        width: 200px;
      }
      ;
    }
  }
  @keyframes one {
    0% {
      bottom: 90px;
      left: 50px;
      color: rgba(51, 204, 255, 1);
    }
    ;
  }
  @keyframes top {
    from {
      width: 400px;
    }
    ;
    to {
      width: 400px;
    }
    ;
  }
  @keyframes bottom {
    from {
      width: 100px;
    }
    ;
    to {
      width: 400px;
    }
    ;
  }

  #countryBar,
  #weatherBar,
  #tempBar,
  #humBar,
  #windBar{
    width: 0%;
    animation-name: grow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  #countryBar {
    animation-delay: 1s;
  }
  #weatherBar {
    animation-delay: 1.5s;
  }
  #tempBar {
    animation-delay: 2s;
  }
  #humBar {
    animation-delay: 2.5s;
  }
  #windBar {
    animation-delay: 3s;
  }
  @keyframes grow {
    100% {
      width: 100%;
    }
    ;
  }
}
