<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Places</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar [class.collapsed]="collapsed" *ngIf="placesResult != null" (ionInput)="ionSearchInput($event)" (ionCancel)="onSearchCancel($event)"></ion-searchbar>
</ion-header>

<ion-content class="card-background-page" *ngIf="placesResult != null">

  <ion-fab bottom right>
    <button ion-fab mini color="light" (click)="addPlace()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-card *ngFor="let result of placesResult" (click)="getPlaceDetails(result, result.place.result.place_id, result.resource_uri)">
    <img [src]="result.image" />
    <div class="card-box">
      <div class="card-title">{{result.name}}</div>
      <div class="card-subtitle">{{result.distance}}</div>
    </div>
  </ion-card>
</ion-content>
