<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Places</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addPlace()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="placesResult != null">
    <button ion-item *ngFor="let result of placesResult" id="place" [style.backgroundImage]="'url(' + result.image + ')'" (click)="getPlaceDetails(result)">
      <div class="name">
        <label>{{result.place.result.name}}</label>
        <p class="rating" *ngIf="result.place.result.rating != null">Rating: {{result.place.result.rating}} </p>
      </div>
      <div class="drive">
        <ion-icon name="car"></ion-icon>
        <label>{{result.distance}}</label>
      </div>
    </button>
  </ion-list>
</ion-content>
