page-categories {
    .item-md {
        padding-left: 0;
    }

    .item-md ion-icon[item-left], 
    .item-md ion-icon[item-right], 
    .item-md ion-icon[item-start], 
    .item-md ion-icon[item-end]{
        margin: 0;
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
    }

    ion-icon div{
        margin: 13px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        background-color: black;
    }

    .slidingItem ion-item{
        border-left: solid 10px;
    }

    .slidingItem ion-label{
        padding-left: 10px;
    }
}
