#dark-theme {
  ion-content,
  ion-card {
    background-color: map-get($colors, primary-dark);
    color: #fff;
  }
  .toolbar-title {
    color: #fff;
  }
  .item-md,
  .tabs-md,
  .tabs-md,
  .tab-button,
  .tab-button-icon {
    background: map-get($colors, primary-dark);
    color: #fff;
  }
  .header .toolbar-background {
    border-color: #ff0fff;
    background-color: map-get($colors, primary-dark);
  }
  .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #488aff !important;
    transform: translate3d(0, -2px, 0);
  }
  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: #fff;
  } 
}
