$font-path: "../assets/fonts";
$app-direction: ltr;


@import "ionic.globals";

$colors: (
  // primary:          #209fda,
  // primary-dark:     #0c5b91,
  // primary-light:    #b5e6f7,
  // secondary:        #ea8fed,
  primary:          #f9aa33,
  primary-dark:     #232f34,
  primary-light:    #4a6572,
  secondary:        #f9aa33,
  secondary-dark:   #b300c6,
  secondary-light:  #fae5fa,
  
  // light:            #f4f4f4,
  // dark:             #222,
  // edit:             #ff8c00,
  background:       #ffffff,
  surface:       #ffffff,
  danger:           #b00020,
  error:            #b00020,

  on-primary:          #ffffff,
  on-secondary:        #ffffff,
  on-background:       #000,
  on-surface:       #000,
  on-danger:           #ffffff,
  on-error:            #ffffff
);


// App iOS Variables
$item-ios-paragraph-font-size: 1.6rem !important;
// iOS only Sass variables can go here


// App Material Design Variables
$item-wp-font-size: 1.8rem !important;
$item-md-font-size: 1.8rem !important;
$toggle-md-track-height: 20px !important;
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
@import "theme.light";
@import "theme.dark";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
