@import "../../node_modules/ionic2-auto-complete/auto-complete";
ion-buttons[start] {
  order: 1;
}

.item-md p {
  font-size: 1.6rem !important;
}

.item-md #label {
  font-size: 2rem !important;
}

.item-md #weather {
  font-size: 1.4rem !important;
  color: grey;
}

.item-md #temo {
  font-size: 3rem !important;
}

.item-md #date {
  font-size: 1.4rem !important;
  color: grey;
}

td#openingHours p {
  margin-left: 12px;
}

ion-label {
  font-size: 1.8rem !important;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: -1;
  height: 300px;
}

#place {
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 300px;
  padding: 0;
}

ion-label #name {
  display: table-cell;
  text-shadow: 1px 1px 1px #000;
}

.item-icon {
  font-size: 2.2rem !important;
}

.item-md ion-icon[item-left]+.item-inner,
.item-md ion-icon[item-left]+.item-input,
.item-md ion-icon[item-start]+.item-inner,
.item-md ion-icon[item-start]+.item-input {
  margin-left: 10px;
}

//custom icons
div {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-coffee"] {
    mask-image: url(../assets/imgs/places/coffee.svg);
  }
  &[class*="custom-restaurant"] {
    mask-image: url(../assets/imgs/places/restaurant.svg);
  }
  &[class*="custom-playground"] {
    mask-image: url(../assets/imgs/places/playground.svg);
  }
  &[class*="custom-water"] {
    mask-image: url(../assets/imgs/places/water.svg);
  }
  &[class*="custom-castle"] {
    mask-image: url(../assets/imgs/places/castle.svg);
  }
  &[class*="custom-airport"] {
    mask-image: url(../assets/imgs/places/airport.svg);
  }
  &[class*="custom-beach"] {
    mask-image: url(../assets/imgs/places/beach.svg);
  }
  &[class*="custom-train"] {
    mask-image: url(../assets/imgs/places/train.svg);
  }
  &[class*="gym"] {
    mask-image: url(../assets/imgs/places/gym.svg);
  }
  &[class*="picnic"] {
    mask-image: url(../assets/imgs/places/picnic.svg);
  }
  &[class*="mountain"] {
    mask-image: url(../assets/imgs/places/mountain.svg);
  }
  &[class*="forest"] {
    mask-image: url(../assets/imgs/places/forest.svg);
  }
  &[class*="park"] {
    mask-image: url(../assets/imgs/places/park.svg);
  }
  &[class*="zoo"] {
    mask-image: url(../assets/imgs/places/zoo.svg);
  }
  &[class*="historical"] {
    mask-image: url(../assets/imgs/places/historical.svg);
  }
  &[class*="museum"] {
    mask-image: url(../assets/imgs/places/museum.svg);
  }
  &[class*="cinema"] {
    mask-image: url(../assets/imgs/places/cinema.svg);
  }
  &[class*="hike"] {
    mask-image: url(../assets/imgs/places/hike.svg);
  }
  &[class*="pub"] {
    mask-image: url(../assets/imgs/places/pub.svg);
  }
  &[class*="art"] {
    mask-image: url(../assets/imgs/places/art.svg);
  }
}