@import "../../node_modules/ionic2-auto-complete/auto-complete";
ion-buttons[start] {
  order: 1;
}

.item-md p {
  font-size: 1.6rem !important;
}

.item-md #label {
  font-size: 2rem !important;
}

.item-md #weather {
  font-size: 1.4rem !important;
  color: grey;
}

.item-md #temo {
  font-size: 3rem !important;
}

.item-md #date {
  font-size: 1.4rem !important;
  color: grey;
}

td#openingHours p{
  margin-left: 12px;
}

ion-label {
  font-size: 1.8rem !important;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: -1;
  height: 300px;
}

#place {
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 300px;
  padding: 0;
}

ion-label #name {
  display: table-cell;
  text-shadow: 1px 1px 1px #000;
}
// $alert-md-background-color: map-get($colors, primary-dark);
// $alert-md-message-text-color: #fff;
// .app-root {
//   background-color: #f00;   
// }

#light-theme + .alert-wrapper {
  background-color: red !important;   
}

#dark-theme + .alert-wrapper {
  background-color: blue !important;   
}