page-add-place {
  .sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: -1;
    height: 400px;
  }
  #place {
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 0;
  }
  #place ion-label {
    font-size: 2rem;
    display: table;
    position: absolute;
    bottom: 0;
  }
  ion-label #name {
    display: table-cell;
    text-shadow: 1px 1px 1px #000;
  }
}
