<ion-header>
  <ion-navbar>
    <ion-title>{{placeName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides class="sticky" loop="true">
    <ion-slide *ngFor="let image of images">
      <ion-item id="place" [style.backgroundImage]="'url(' + image + ')'">
      </ion-item>
    </ion-slide>
  </ion-slides>

  <ion-item class="title">
    <div class="name">
      <label id="placeName">{{placeName}}</label>
    </div>
  </ion-item>

  <ion-item id="general">
    <ion-grid>
      <ion-row>
        <ion-col>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>
            <b>Rating:</b> {{rating}} </p>
          <p>
            <b>Drive:</b> {{drive}} </p>
          <p>
            <b>Visited:</b>
          </p>
        </ion-col>
        <ion-col>
          <p>
            <b>Coffee:</b>
          </p>
          <p>
            <b>Entry:</b>
          </p>
          <p>
            <b>Parking:</b>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item-divider color="light" *ngIf="types != ''">Types</ion-item-divider>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let type of types">
          <p>{{type}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item-divider color="light">WEATHER</ion-item-divider>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>
            <b>Saturday</b>
          </p>
          <p *ngIf="r!=null">r: {{r}}</p>
          <p>Country : {{ counrty }}</p>
          <p>Weather: {{ description }}</p>
          <!-- <p *ngIf="r!=null">Weather: {{r.list[6].weather[0].description}}</p> -->
          <p>Temperature: {{ temperature }}&#8451;</p>
          <p>Humidity: {{ humidity }}%</p>
          <p>Wind speed: {{ wind }}mps</p>
        </ion-col>
        <ion-col>
          <p>Sunday</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item-divider color="light" *ngIf="openingHours != ''">OPENING HOURS</ion-item-divider>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>{{openingHours[5]}}</p>
          <p>{{openingHours[6]}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item-divider color="light">ACTIONS</ion-item-divider>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button color="danger" outline icon-left (click)="showConfirm()">
            <ion-icon name="trash"></ion-icon>
            Remove
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>

<ion-footer text-center>
    <a ion-button block color="dark" [attr.href]="navLink" clear>Navigate</a>
</ion-footer>
