page-place-details {
  ion-header {
    .toolbar {
      position: absolute;
      .toolbar-background {
        background: transparent;
      }
    }
  }
  #place ion-label {
    font-size: 2rem;
    display: table;
    position: absolute;
    bottom: 0;
  }
  .name {
    margin-left: 10px;
    vertical-align: bottom;
  }
  .item-inner {
    border-bottom: none !important;
  }
  .name p {
    font-size: 1.6rem;
  }
}
