<ion-header>
  <ion-navbar id="place-header">
    <ion-title>{{placeName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="checkTop()">
  <ion-slides class="sticky" loop="true">
    <ion-slide *ngFor="let image of images">
      <ion-item id="place" [style.backgroundImage]="'url(' + image + ')'">
      </ion-item>
    </ion-slide>
  </ion-slides>

  <ion-item id="general">
    <ion-grid>
      <ion-row>
        <ion-col>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>
            <b>Rating:</b> {{rating}} </p>
          <p>
            <b>Drive:</b> {{drive}} </p>
          <p>
            <b>Visited:</b>
            {{visited}}
          </p>
        </ion-col>
        <ion-col>
          <p>
            <b>Coffee:</b>
          </p>
          <p>
            <b>Entry:</b>
          </p>
          <p>
            <b>Parking:</b>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item-divider color="light" *ngIf="types != ''">CATEGORIES</ion-item-divider>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-badge *ngFor="let type of types" color="secondary">{{type}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item-divider color="light">WEATHER</ion-item-divider>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p id="label">
            Saturday
          </p>
          <p id="weather" *ngIf="sat==null">
            No Forecast Available
          </p>
          <table *ngIf="sat!=null">
            <tr>
              <td>
                <img [src]="sat.icon" />
              </td>
              <td>
                <p id="temo">{{ tempSat }}&deg;</p>
                <p id="weather">{{ weatherCondSat }}</p>
              </td>
            </tr>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p id="label">
            Sunday
          </p>
          <p id="weather" *ngIf="sun==null">
            No Forecast Available
          </p>
          <table *ngIf="sun!=null">
            <tr>
              <td>
                <img [src]="sun.icon" />
              </td>
              <td>
                <p id="temo">{{ tempSun }}&deg;</p>
                <p id="weather">{{ weatherCondSun }}</p>
              </td>
            </tr>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item-divider color="light">OPENING HOURS</ion-item-divider>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p id="weather" *ngIf="openingHours.length == 0">
            No Information Available
          </p>
          <table *ngIf="openingHours.length > 0">
            <tr>
              <td>
                <p>Monday:</p>
              </td>
              <td id="openingHours">
                <p>{{openingHours[0]}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Tuesday:</p>
              </td>
              <td id="openingHours">
                <p>{{openingHours[1]}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Wednesday:</p>
              </td>
              <td id="openingHours">
                <p>{{openingHours[2]}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Thursday:</p>
              </td>
              <td id="openingHours">
                <p>{{openingHours[3]}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Friday:</p>
              </td>
              <td id="openingHours">
                <p>{{openingHours[4]}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  <b>Saturday:</b>
                </p>
              </td>
              <td id="openingHours">
                <p>
                  <b>{{openingHours[5]}}</b>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  <b>Sunday:</b>
                </p>
              </td>
              <td id="openingHours">
                <p>
                  <b>{{openingHours[6]}}</b>
                </p>
              </td>
            </tr>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item-divider color="light">ACTIONS</ion-item-divider>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button color="edit" outline icon-left (click)="editPlace()">
            <ion-icon name="create"></ion-icon>
            Edit
          </button>
          <button ion-button color="danger" outline icon-left (click)="showConfirm()">
            <ion-icon name="trash"></ion-icon>
            Remove
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>

<ion-footer text-center>
  <a ion-button block color="dark" [attr.href]="navLink" clear>Navigate</a>
</ion-footer>
